<header>
  <div class="row">
    <div class="small-3 column">
      <a href="/"><h2 class="logo medium">strk.io<sup>alpha</sup></h2></a>
    </div>
    <div class="small-9 column">
      <ul class="toolbar inline-list" style="float: right" v-if="loaded">
        <li v-if="signedIn && !draft && owner && !err">
          <!--todo: data-hint="Synchronize (last synchronized 1 day ago)"-->
          <span style="display: inline !important;">
            <a class="z-icon hint--left hint--rounded hint--no-animate"
               data-hint="Synchronize"
               style="font-size: 1.1rem;"
               v-on="click: sync">
              <i class="icon-refresh"></i>
            </a>
          </span>
        </li>
        <li v-if="((signedIn && owner) || draft) && !err">
          <a class="z-icon hint--left hint--rounded hint--no-animate"
             data-hint="Add new streak"
             style="font-size: 1.1rem;"
             v-on="click: addNewStreak">
            <i class="icon-plus"></i>
          </a>
        </li>
        <li v-if="draft && signedIn && !err">
          <a v-on="click: saveAsGist">Save as Gist</a>
        </li>
        <li v-if="!signedIn">
          <a class="hide-for-small"
             href="https://github.com/login/oauth/authorize?client_id={{ clientId }}&scope=gist&redirect_uri={{ redirectURL | encode }}">
            Sign in with GitHub
          </a>
          <a class="show-for-small z-icon hint--left hint--rounded hint--no-animate"
             data-hint="Sign in with GitHub"
             style="font-size: 1.1rem;"
             href="https://github.com/login/oauth/authorize?client_id={{ clientId }}&scope=gist&redirect_uri={{ redirectURL | encode }}">
            <i class="icon-login"></i>
          </a>
        </li>
        <li v-if="signedIn">
          <a class="hide-for-small" v-on="click: signOut">Sign out</a>
          <a class="show-for-small z-icon hint--left hint--rounded hint--no-animate"
             data-hint="Sign out"
             style="font-size: 1.1rem;"
             v-on="click: signOut">
            <i class="icon-logout"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div v-if="!loaded"
     style="padding-top: 32px"
     class="sk-spinner sk-spinner-three-bounce">
  <div class="sk-bounce1"></div>
  <div class="sk-bounce2"></div>
  <div class="sk-bounce3"></div>
</div>
<div v-if="set" v-component="streak-set" v-ref="streak-set" v-with="set"></div>
<div v-if="err">
  <div class="row" style="text-align: center;">
    <div class="column small-12">
      <div style="font-size: 2.75rem; margin-top: 18px">{{ err.status }}</div>
      <p style="text-transform: lowercase; margin-bottom: 6px">({{ err.message }})</p>
      <p style="font-size: 0.8rem;">If you believe this is an error, please <a href="https://github.com/strkio/strkio.github.io/issues">open an issue on GitHub</a>.</p>
    </div>
  </div>
</div>
<footer class="sticky-footer">
  <a href="https://github.com/strkio/strkio-api-server">API</a> |
  <a href="https://github.com/strkio/hubot-strkio">Hubot package</a> |
  <a href="https://github.com/strkio/strkio.github.io">GitHub Page</a> |
  with <i class="icon-heart"></i> from <a href="https://github.com/shyiko">@shyiko</a>
</footer>
