<header>
  <div class="row">
    <div class="small-3 column">
      <a href="/"><h2 class="logo medium">strk.io<sup>alpha</sup></h2></a>
    </div>
    <div class="small-9 column">
      <ul class="toolbar inline-list" style="float: right">
        <li v-if="signedIn && !draft && owner">
          <!--todo: data-hint="Synchronize (last synchronized 1 day ago)"-->
          <span style="display: inline !important;">
            <a class="z-icon hint--left hint--rounded hint--no-animate"
               data-hint="Synchronize"
               style="font-size: 1.1rem;"
               v-on="click: sync">
              <i class="icon-refresh"></i>
            </a>
          </span>
        </li>
        <li v-if="(signedIn && owner) || draft">
          <a class="z-icon hint--left hint--rounded hint--no-animate"
             data-hint="Add new streak"
             style="font-size: 1.1rem;"
             v-on="click: addNewStreak">
            <i class="icon-plus"></i>
          </a>
        </li>
        <li v-if="draft && signedIn">
          <a v-on="click: saveAsGist">Save as Gist</a>
        </li>
        <li v-if="!signedIn">
          <a class="hide-for-small"
             href="https://github.com/login/oauth/authorize?client_id={{ clientId }}&scope=gist&redirect_uri={{ redirectURL | encode }}">
            Sign in with GitHub
          </a>
          <a class="show-for-small z-icon hint--left hint--rounded hint--no-animate"
             data-hint="Sign in with GitHub"
             style="font-size: 1.1rem;"
             href="https://github.com/login/oauth/authorize?client_id={{ clientId }}&scope=gist&redirect_uri={{ redirectURL | encode }}">
            <i class="icon-login"></i>
          </a>
        </li>
        <li v-if="signedIn">
          <a class="hide-for-small" v-on="click: signOut">Sign out</a>
          <a class="show-for-small z-icon hint--left hint--rounded hint--no-animate"
             data-hint="Sign out"
             style="font-size: 1.1rem;"
             v-on="click: signOut">
            <i class="icon-logout"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div v-if="set" v-component="streak-set" v-ref="streak-set" v-with="set"></div>
<footer>
  <a href="https://github.com/strkio/strkio-api-server">API</a> |
  <a href="https://github.com/strkio/hubot-strkio">Hubot package</a> |
  <a href="https://github.com/strkio/strkio.github.io">GitHub Page</a> |
  with ♥ from <a href="https://github.com/shyiko">@shyiko</a>
</footer>
