<header class="fixed-header">
  <div class="row">
    <div class="small-3 column">
      <a href="/"><h2 class="logo medium">strk.io<sup>alpha</sup></h2></a>
    </div>
    <div class="small-9 column">
      <ul class="toolbar inline-list" style="float: right">
        <li>
          <a href="#/">
            <i class="strk-inline-icon icon-arrow-left"></i> HOME
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div style="height: 67px; margin: 0"></div>
<div class="js-row">
  <div class="row">
    <div class="columns medium-6 small-12">
      <h2><i class="strk-icon strk-icon-green icon-cursor-move"></i></h2>
      <h3>Responsive</h3>
      <p>
        Designed mobile-first. Use it on your phone, tablet or desktop.
      </p>
    </div>
    <div class="columns medium-6 small-12">
      <h2><i class="strk-icon strk-icon-blue icon-eye"></i></h2>
      <h3>Transparent</h3>
      <p>
        Your data always stays with you (as a private Gist).
        Whenever you make a change, your browser talks to the GitHub API directly.
        There is nothing else in between.
      </p>
    </div>
    <div class="clearfix"></div>
    <div class="columns medium-6 small-12">
      <h2><i class="strk-icon strk-icon-mint icon-plane"></i></h2>
      <h3>Offline</h3>
      <p>
        You don't have to be connected to the Internet to update your streaks.
        Everything is kept locally, just in case.
      </p>
    </div>
    <div class="columns medium-6 small-12">
      <h2><i class="strk-icon strk-icon-violet icon-chemistry"></i></h2>
      <h3>Hackable</h3>
      <p>
        strk.io provides a simple <a href="https://github.com/strkio/strkio-api-server">REST API</a> that can be used to integrate with other services
        (see <a href="https://github.com/strkio/hubot-strkio">Hubot package</a> for an example).
      </p>
    </div>
    <div class="clearfix"></div>
    <div class="columns medium-6 small-12">
      <h2><i class="strk-icon strk-icon-red icon-heart"></i></h2>
      <h3>Open Source</h3>
      <p>
        strk.io is fully open source from the day one.
        Released under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
        Available at <a href="https://github.com/strkio">GitHub</a>.
      </p>
    </div>
  </div>
</div>
<footer class="sticky-footer">
  <a href="https://github.com/strkio/strkio-api-server">API</a> |
  <a href="https://github.com/strkio/hubot-strkio">Hubot package</a> |
  <a href="https://github.com/strkio/strkio.github.io">GitHub Page</a> |
  with <i class="icon-heart"></i> from <a href="https://github.com/shyiko">@shyiko</a>
</footer>
