<div class="vp-center">
  <h3 class="logo large">strk.io<sup>alpha</sup></h3>
  <h5 class="tagline">All your streaks in one place.</h5>
  <a id="sign-in-btn" class="signin button large"
     href="https://github.com/login/oauth/authorize?client_id={{ clientId }}&scope=gist">
    Sign in with Github
  </a>
  <p style="margin-top: 3px; font-size: 0.9rem">
    or <a id="draft-btn" href="#/draft">give it a try now</a>, sign in later.
  </p>
  <ul id="social">
    <li>
      <iframe src="http://ghbtns.com/github-btn.html?user=strkio&repo=strkio.github.io&type=watch&count=true"
              allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
    </li>
    <li>
      <iframe src="http://platform.twitter.com/widgets/tweet_button.html?count=horizontal&amp;lang=en&amp;size=m&amp;text=strk.io%20-%20All%20your%20streaks%20in%20one%20place&amp;url=http%3A%2F%2Fstrk.io&amp;via=strkio"
              allowtransparency="true" frameborder="0" scrolling="no" width="100" height="20"></iframe>
    </li>
  </ul>
</div>
<footer class="sticky-footer">
  <a href="https://github.com/strkio/strkio-api-server">API</a> |
  <a href="https://github.com/strkio/strkio.github.io">GitHub page</a> |
  with <i class="icon-heart"></i> from <a href="https://github.com/shyiko">@shyiko</a>
</footer>
