<div class="vp-center">
  <h3 class="logo large">strk.io<sup>alpha</sup></h3>
  <h5 class="tagline">All your streaks in one place.</h5>
  <a id="sign-in-btn" class="signin button large"
     href="https://github.com/login/oauth/authorize?client_id={{ clientId }}&scope=gist">
    Sign in with Github
  </a>
  <p style="margin-top: 3px; font-size: 0.9rem">
    or <a id="draft-btn" href="#/draft">give it a try now</a>, sign in later.
  </p>
</div>
<footer class="sticky-footer">
  <a href="https://github.com/strkio/strkio-api-server">API</a> |
  <a href="https://github.com/strkio/strkio.github.io">GitHub page</a> |
  with <i class="icon-heart"></i> from <a href="https://github.com/shyiko">@shyiko</a>
</footer>
