<svg class="z-bg" viewBox="0 0 1440 768" preserveAspectRatio="xMidYMid slice">
  <path d="M0,0 L0,768 L384,368 L760,660 L1278,117 L1436,240 L1440,0 L0,0 Z" fill="#EFF1F5"></path>
  <!-- original: #C0C5CE -->
  <path d="M384,368 L326,428 L384,408 L512,468 L384,368 Z" fill="#d4d9e2"></path>
  <path d="M1278,116 L1202,196 L1279,170 L1449,250 L1278,116 Z" fill="#d4d9e2"></path>
</svg>
<div class="vp-center">
  <h3 class="logo large">strk.io<sup>alpha</sup></h3>
  <h5 class="tagline">All your streaks in one place.</h5>
  <a class="signin button large" href="https://github.com/login/oauth/authorize?client_id={{ clientId }}&scope=gist">
    Sign in with Github
  </a>
  <!--
        <p class="signup small">
          Don't have an account?
          <a href="https://github.com/join">Sign up</a>.
        </p>
  -->
  <p style="margin-top: 3px; font-size: 0.9rem">
    or <a href="?draft">give it a try "as is"</a>.
    <!--or <a href="?draft">give it a try now</a>, sign in later.-->
  </p>
  <!-- todo: feature link -->
</div>
<footer>
  <a href="https://github.com/strkio/strkio-api-server">API</a> |
  <a href="https://github.com/strkio/hubot-strkio">Hubot package</a> |
  <a href="https://github.com/strkio/strkio.github.io">GitHub Page</a> |
  with ♥ from <a href="https://github.com/shyiko">@shyiko</a>
</footer>
