<div class="strk-streak-settings" style="font-size: 0.9rem">
  <form style="margin-bottom: 6px">
    <div class="row">
      <div class="small-11 medium-10 large-9 columns">
        <div class="row">
          <div class="small-4 medium-5 large-6 columns">
            <label for="name-{{index}}" class="right inline" style="margin-bottom: 0">
              Name
            </label>
          </div>
          <div class="small-8 medium-7 large-6 columns">
            <input class="z-input strk-streak-name-input" type="text" id="name-{{index}}" v-model="name" lazy>
            <small class="error"
              style="margin-top: -12px; background-color: rgba(191, 97, 106, 0.75);
              font-style: normal" v-show="!!nameValidationResult">
              {{ nameValidationResult }}
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-4 medium-5 large-6 columns">
            <label for="datepicker-{{index}}" class="right inline"
                   style="margin-bottom: 0">Start date</label>
          </div>
          <div class="small-8 medium-7 large-6 columns">
            <span style="font-size: 1.2rem; position: absolute;
              right: 16px; top: 6px; pointer-events: none; color: gray">
              <i class="icon-calendar"></i>
            </span>
            <input class="z-input" v-el="datepicker" type="text" id="datepicker-{{index}}">
            <small class="error"
                   style="margin-top: -12px; background-color: rgba(191, 97, 106, 0.75);
              font-style: normal" v-show="!!startDateValidationResult">
              {{ startDateValidationResult }}
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-4 medium-5 large-6 columns">
            <label class="right inline">Days</label>
          </div>
          <div class="small-8 medium-7 large-6 columns">
            <ul class="z-button-group button-group" style="width: 100%">
              <li style="width: 15%;">
                <a class="small button" v-class="secondary: excludeDay0"
                   v-on="click: toggleDayExclusion(0)">
                  <span class="hide-for-small">Sun</span>
                  <span class="show-for-small">S</span>
                </a>
              </li>
              <li style="width: 14%;">
                <a class="small button" v-class="secondary: excludeDay1"
                   v-on="click: toggleDayExclusion(1)">
                  <span class="hide-for-small">Mon</span>
                  <span class="show-for-small">M</span>
                </a>
              </li>
              <li style="width: 14%;">
                <a class="small button" v-class="secondary: excludeDay2"
                   v-on="click: toggleDayExclusion(2)">
                  <span class="hide-for-small">Tue</span>
                  <span class="show-for-small">T</span>
                </a>
              </li>
              <li style="width: 14%;">
                <a class="small button" v-class="secondary: excludeDay3"
                   v-on="click: toggleDayExclusion(3)">
                  <span class="hide-for-small">Wed</span>
                  <span class="show-for-small">W</span>
                </a>
              </li>
              <li style="width: 14%;">
                <a class="small button" v-class="secondary: excludeDay4"
                   v-on="click: toggleDayExclusion(4)">
                  <span class="hide-for-small">Thu</span>
                  <span class="show-for-small">T</span>
                </a>
              </li>
              <li style="width: 14%;">
                <a class="small button" v-class="secondary: excludeDay5"
                   v-on="click: toggleDayExclusion(5)">
                  <span class="hide-for-small">Fri</span>
                  <span class="show-for-small">F</span>
                </a>
              </li>
              <li style="width: 15%;">
                <a class="small button" v-class="secondary: excludeDay6"
                   v-on="click: toggleDayExclusion(6)">
                  <span class="hide-for-small">Sat</span>
                  <span class="show-for-small">S</span>
                </a>
              </li>
            </ul>
            <small class="error"
                   style="margin-top: 4px; background-color: rgba(191, 97, 106, 0.75);
                   font-style: normal" v-show="!!daysValidationResult">
              {{ daysValidationResult }}
            </small>
          </div>
        </div>
        <div class="row">
          <div class="small-4 medium-5 large-6 columns">
            <label class="right inline">Type</label>
          </div>
          <div class="small-8 medium-7 large-6 columns">
            <select name="select" class="z-input" v-model="type">
              <option value="toggle">Toggle</option>
              <option value="number">Number</option>
            </select>
          </div>
        </div>
        <div v-if="type === 'number'">
        <div class="row">
          <div class="small-4 medium-5 large-6 columns">
            <label class="right inline">Range</label>
          </div>
          <div class="small-8 medium-7 large-6 columns">
            <div class="row">
              <div class="small-6 columns">
                <input class="z-input" type="number" placeholder="from"
                       v-model="range[0]">
              </div>
              <div class="small-6 columns">
                <input class="z-input" type="number" placeholder="to"
                       v-model="range[1]">
              </div>
            </div>
            <small class="error"
                   style="margin-top: -12px; background-color: rgba(191, 97, 106, 0.75);
              font-style: normal" v-show="!!rangeValidationResult">
              {{ rangeValidationResult }}
            </small>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="small-4 medium-5 large-6 columns">
          </div>
          <div class="small-8 medium-7 large-6 columns">
            <div class="checkbox" style="margin-top: 0">
            <label><input type="checkbox" v-model="inverted">
              Invert (break streak on entry)
            </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="large-12 column" style="text-align: center">
      <a class="streak-apply-changes-btn button small success" v-on="click: applyChanges">
        {{ existing ? 'Apply changes' : 'Create streak' }}
      </a>
      <a class="streak-cancel-change-btn button small secondary"
         v-on="click: $parent.restoreDefaultView({targetVM: $parent})">
        Cancel
      </a>
    </div>
  </div>
</div>
