<div class="row">
  <div class="large-12 column">
    <div class="text-center" v-component="streak-calendar-graph" v-with="streak"></div>
  </div>
</div>
<div class="row" style="margin-top: 6px">
  <!-- todo: change to ul/li -->
  <div class="large-12 column streak">
    <span>Total:&nbsp;</span>
    <h4>{{totalEntries}}</h4><span>&nbsp;entries &nbsp;|&nbsp;</span>
    <span>Longest Streak:&nbsp;</span>
    <h4>{{longestStreak}}</h4><span>&nbsp;days &nbsp;|&nbsp;</span>
    <span>Current Streak:&nbsp;</span>
    <h4>{{currentStreak}}</h4><span>&nbsp;days</span>
    <br>
  </div>
</div>
