@import "common.css";

@import "hint.css";
@import "pikaday.css";
@import "calendar-graph.css";

@import "components/streak.css";
@import "components/streak-set.css";
@import "components/streak-settings.css";

.fixed-header {
  border-bottom: solid var(--base07) 1px;
  background-color: rgba(255, 255, 255, 0.92);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 998;
  height: 67px;
}

.logo.medium {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 2.125rem;
}

.logo.medium sup {
  font-size: 0.3em;
  vertical-align: 1.3em;
}


.z-icon {
  color: var(--base03);
}

.toolbar {
  padding-top: 5px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  height: 47px;
  line-height: 47px;
  font-size: 0.9rem;
}

@-webkit-keyframes fade-in-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-out {
  animation: fade-in-out 1s infinite alternate;
}


