@import "theme.css";

@import "opensans-font.css";
@import "simple-line-icons-font.css";
@import "spinner.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 5rem; /* room for the footer */
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--basefont);
}

a {
  color: var(--base03);
}

a:hover {
  color: color(var(--base0d) shade(20%));
}

hr {
  border: solid var(--base07);
  border-width: 1px 0 0;
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}

[v-cloak] {
  display: none;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--base03);
}

.logo {
  color: var(--base0c);
}

.small {
  font-size: 0.8rem;
}

input.z-input,
select.z-input {
  box-shadow: none;
  background: #fff;
  font-family: var(--basefont);
  outline: none;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input.z-input:focus,
select.z-input:focus {
  box-shadow: none;
  background: #fff;
  border-color: #999999;
}

select.z-input:hover {
  background: #fff;
  border-color: #cccccc;
}

.button {
  font-family: var(--basefont);
  border-radius: 3px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  transition: background-color 150ms ease-out;
  margin-bottom: 0;
}

.button.success {
  background-color: var(--base0b);
  border-color: color(var(--base0b) shade(10%));
}

.button.success:hover, .button.success:focus {
  background-color: color(var(--base0b) shade(10%));
}

.button.alert {
  background-color: var(--base08);
  border-color: color(var(--base08) shade(10%));
}

.button.alert:hover, .button.alert:focus {
  background-color: color(var(--base08) shade(10%));
}

.button.secondary {
  background-color: var(--base07);
  border-color: color(var(--base07) shade(5%));
}

.button.secondary:hover, .button.secondary:focus {
  background-color: color(var(--base07) shade(5%));
}

.switch.green-red label {
  background: var(--base0b);
}

.switch.green-red label:after {
  background: var(--base0b);
}

.switch.green-red input:checked + label {
  background: var(--base08);
}

.switch.green-red input:checked + label:after {
  background: var(--base08);
}

.inline-list {
  overflow: inherit; /* to not interfere with hint.css */
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  margin-top: 6px;
  vertical-align: middle;
}
