@import "theme.css";

@import "opensans-font.css";
@import "simple-line-icons-font.css";
@import "spinner.css";
@import "vue.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 5rem; /* room for the footer */
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--basefont);
}

a {
  color: var(--base03);
}

a:hover {
  color: color(var(--base0d) shade(20%));
}

hr {
  border: solid var(--base07);
  border-width: 1px 0 0;
}

[contenteditable]:focus {
  outline: 0 solid transparent;
}

[v-cloak] {
  display: none;
}

.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--base03);
}

.logo {
  color: var(--base0c);
}

.small {
  font-size: 0.8rem;
}

input.z-input,
select.z-input {
  box-shadow: none;
  background: #fff;
  font-family: var(--basefont);
  outline: none;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input.z-input:focus,
select.z-input:focus {
  box-shadow: none;
  background: #fff;
  border-color: #999999;
}

select.z-input:hover {
  background: #fff;
  border-color: #cccccc;
}

.button {
  font-family: var(--basefont);
  border-radius: 3px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  transition: background-color 150ms ease-out;
  margin-bottom: 0;
}

.button.success {
  background-color: var(--base0b);
  border-color: color(var(--base0b) shade(10%));
}

.button.success:hover, .button.success:focus {
  background-color: color(var(--base0b) shade(10%));
}

.button.alert {
  background-color: var(--base08);
  border-color: color(var(--base08) shade(10%));
}

.button.alert:hover, .button.alert:focus {
  background-color: color(var(--base08) shade(10%));
}

.button.secondary {
  background-color: var(--base07);
  border-color: color(var(--base07) shade(5%));
}

.button.secondary:hover, .button.secondary:focus {
  background-color: color(var(--base07) shade(5%));
}

.switch.green-red label {
  background: var(--base0b);
}

.switch.green-red label:after {
  background: var(--base0b);
}

.switch.green-red input:checked + label {
  background: var(--base08);
}

.switch.green-red input:checked + label:after {
  background: var(--base08);
}

.inline-list {
  overflow: inherit; /* to not interfere with hint.css */
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  margin-top: 6px;
  vertical-align: middle;
}

button.small, .button.small {
  padding-top: 0.875rem;
  padding-right: 1.45rem;
  padding-bottom: 0.9375rem;
  padding-left: 1.45rem;
}

.alert-box {
  border: 0;
  border-bottom: solid var(--base07) 1px;
  padding-left: 0;
  padding-right: 0;
}

.alert-box.error {
  /*background-color: var(--base08);*/
  background-color: rgba(239, 241, 245, 0.33);
  color: black;
  /*background-color: color(var(--base08) tint(30%));*/
}

.alert-box .close {
  color: black;
  /*color: white;*/
  font-size: 1.1rem;
  padding-top: 2px;
  right: 0;
  padding-right: 15px;
}

.js-row {
  /*background-color: #eff1f5; */
  padding: 18px;
}

.js-row h2 {
  margin-bottom: 12px;
}

.js-row .columns {
  margin-top: 28px;
  text-align: center;
}

.strk-icon {
  border: 1px solid;
  border-radius: 100%; padding: 15px 15px 14px;
}

.strk-icon-red {
  color: var(--base08);
  border-color: var(--base08);
}

.strk-icon-orange {
  color: var(--base09);
  border-color: var(--base09);
}

.strk-icon-yellow {
  color: var(--base0a);
  border-color: var(--base0a);
}

.strk-icon-green {
  color: var(--base0b);
  border-color: var(--base0b);
}

.strk-icon-mint {
  color: var(--base0c);
  border-color: var(--base0c);
}

.strk-icon-blue {
  color: var(--base0d);
  border-color: var(--base0d);
}

.strk-icon-violet {
  color: var(--base0e);
  border-color: var(--base0e);
}

.strk-icon-brown {
  color: var(--base0f);
  border-color: var(--base0f);
}

.strk-inline-icon {
  position: relative;
  top: 1px;
}
