@import "theme.css";

.hint:after,
[data-hint]:after {
  background-color: var(--base02);
  color: var(--base06);
  box-shadow: 2px 2px 2px rgba(48, 48, 48, 0.2);
}

.hint--top:before {
  border-top-color: var(--base02);
}

.hint--bottom:before {
  border-bottom-color: var(--base02);
}

.hint--left:before {
  border-left-color: var(--base02);
}

.hint--right:before {
  border-right-color: var(--base02);
}

.hint--rounded:after {
  border-radius: 2px;
}

.hint:after, [data-hint]:after {
  white-space: pre;
}
